:root {
    --mainPrimary: #2e7d32;
    --lightPrimary: #4caf50;
    --mainWhite: #ffffff;
    --mainDark: #000000;
    --mainSecondary: #c6ff00;
    --lightSecondary: #f4ff81;
}

.text-title {
    font-family: "Exo 2", sans-serif !important;
    color: var(--mainSecondary) !important;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.dashboard {
    margin-top: 3rem;
}
.text-secondary {
    color: var(--mainSecondary) !important;
}

.text-tertiary {
    color: var(--mainWhite) !important;
}

nav {
    background-color: var(--mainPrimary) !important;
}
.secondary_current_value {
    font-size: 80px;
    margin-left: 5rem;
    margin-top: 2rem;
}
